@import "tailwindcss";

* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  background-color: #134074;
}

@theme {
  --color-ice: #d5f6e7;
  --color-dark-ice: #5be4aa;
  --color-shadow-ice: #1a2e35;
  --color-jaque-one: #134074;
}
