@import "tailwindcss";

* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#root{
    background: linear-gradient(-45deg, #5be4aa, #23d5ab, #d5f6e7);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

.gradienteA{
    background: linear-gradient(-45deg, #5be4aa, #23d5ab, #d5f6e7);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

.gradiente {
    background: rgb(213,246,231);
    background: linear-gradient(241deg, rgba(213,246,231,1) 0%, rgba(91,228,170,1) 100%);
}



@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@theme {
  --color-ice: #d5f6e7;
  --color-dark-ice: #5be4aa;
  --color-shadow-ice: #1a2e35;
  /*Ivan brabo*/
  --color-tails-ice: #FFEB3B;
  --color-sonic-ice: #1E88E5;
  --color-silver-ice: #4a5565;
  
}
